#shark
{
	right:100px; top:100px;
	width: 200px; height: 147px;
	position: absolute;
	-webkit-animation-name: Shark;
	-webkit-animation-duration: 10s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-play-state: running;	
	-webkit-transform:scaleX(-1)
}
@-webkit-keyframes Shark
{
	0%   {right:100px; top:100px;}
	20%   {right:500px; top:100px; transform: rotate(-30deg) ;}
    30%  {right: 700px; top: 200px}
	40%  {right:1300px; top:100px; -webkit-transform:scaleX(1)}
	60%  {right:700px; top: 100px; -webkit-transform:scaleX(1)}
	90%  {right:300px; top:100px; -webkit-transform:scaleX(1)}
	100% {right:100px; top:100px; -webkit-transform:scaleX(1)}
}

/* #background{
    height: 100vh;
    position: relative;
} */
#turtle{
    position: absolute;
    width: 150px;
    bottom: 0px;
    left: 0px;
    animation: Turtle 10s ease-in-out infinite running ;
}
#turtle img {
    width: 100%;
}
@keyframes Turtle{
	/* 0%   {right:100px; top:100px;}
	20%   {right:500px; top:100px; transform: rotate(-30deg) ;}
    30%  {right: 700px; top: 200px}
	40%  {right:1300px; top:100px; -webkit-transform:scaleX(1)}
	60%  {right:700px; top: 100px; -webkit-transform:scaleX(1)}
	90%  {right:300px; top:100px; -webkit-transform:scaleX(1)}
	100% {right:100px; top:100px; -webkit-transform:scaleX(1)} */
    0%   {left:0px;  -webkit-transform:scaleX(-1)}
	10%   {left:150px;  -webkit-transform:scaleX(-1)}
	20%   {left:250px;  -webkit-transform:scaleX(-1)}
	30%   {left:400px;  -webkit-transform:scaleX(-1)}
	40%  {left:500px; -webkit-transform:scaleX(-1) }
	50%   {left: 650px;  -webkit-transform:scaleX(-1)}
	60%  {left: 800px; -webkit-transform:scaleX(-1)}
	70% {left: 950px;  -webkit-transform:scaleX(-1)}
	80%  {left: 1100px;  -webkit-transform:scaleX(-1)}
	90% {left:1200px;  -webkit-transform:scaleX(-1)}
	100% {left:1300px;  -webkit-transform:scaleX(1)} 
}
#background_image{
    width: 100%;
    
}
#background_image img{
    width: 100%;
}

